button {
    outline: none !important;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}
.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.texture-paper {
    background-color: $blue-color;
    background-size: 280px 280px;
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc {
    color: $grey-color;
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
    border-color: $back-color;
}

.d-bloc .divider-h span {
    border-color: rgba(255, 255, 255, .2);
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: $grey-color;
}
.d-bloc .navbar-toggle .icon-bar {
    background: $back-color;
}



.d-bloc .panel {
    color: $black-color;
}



.d-bloc .panel icon {
    border-color: $black-color;
}

.d-bloc .panel .divider-h span {
    border-color: $black-color;
}

.d-bloc .panel .a-btn {
    color: $black-color;
}




.d-bloc .panel,
.l-bloc {
    color: $black-color;
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: $black-color;
}

.d-bloc .panel .divider-h span,
.l-bloc .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: $black-color;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.nav>li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.navbar-nav .open .dropdown-menu>li>a {
    text-align: inherit;
}

.nav>li a:hover,
.nav>li a:focus {
    background: transparent;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    background-color: $black-color;
    width: 26px;
}

.nav-invert .navbar .nav {
    float: left;
}

.nav-invert .navbar-header,
.nav-invert .navbar-brand {
    float: right;
    position: relative;
    z-index: 2;
}



.nav>li>.dropdown a {
    background: none !important;
    display: block;
    padding: 14px 15px;
}

nav .caret {
    margin: 0 5px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: $back-color;
    background: $black-color;
}



.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid $black-color;
    border-bottom-color: $black-color;
    text-shadow: 0 1px 0 $black-color;
    box-shadow: 0 1px 3px $black-color,
        inset 0 1px 0 0 $grey-color;
}
.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: $back-color !important;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px $black-color;
}

.black-background {
    background-color: $black-color;
    padding: 40px 40px 40px 40px;
}

.bold-link {
    font-weight: 900;
    text-decoration: underline !important;
}

.bgc-white {
    background-color: $back-color;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #364577;
}

.tc-white {
    color: $back-color !important;
}

.btn-atomic-tangerine {
    background: $backo-color;
    color: $back-color !important;
}

.btn-atomic-tangerine:hover {
    background: $backo-color !important;
    color: $back-color !important;
}

.ltc-white {
    color: $back-color !important;
}

.ltc-white:hover {
    color: #cccccc !important;
}

.ltc-atomic-tangerine {
    color: $backo-color !important;
}

.ltc-atomic-tangerine:hover {
    color: $backo-color !important;
}

.icon-dark-slate-blue {
    color: #364577 !important;
    border-color: #364577 !important;
}
.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 38px;
}

.hero-bloc-text-sub {
    font-size: 36px;
}

.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}



.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}


.cta-hero {
    margin-top: 22px;
    color: $black-color !important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

.social {
    max-width: 400px;
    margin: auto;
}


.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}
.l-bloc .navbar-toggle .icon-bar {
    color: $black-color;
}


.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters>[class^="col-"],
.row.row-no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}





.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}



.icon-md {
    font-size: 30px !important;
}

.icon-lg {
    font-size: 60px !important;
}

.sm-shadow {
    text-shadow: 0 1px 2px $black-color;
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: $black-color;
    box-shadow: none;
}
.intro{
    font-size:22px ;
    font-weight: 200;
}
.signature{
    font-size: 15px;
    font-weight: 100;
}
.review {
    font-size: 22px;
    font-weight: 200;
    
}
.bgc-atomic-tangerines{
    background-color: #444242;
}

.col-sm-4{
    color: $back-color;
    font-size: 25px;
    
   
}
.contact_foot{
font-size: 30px;
color: $back-color;

}
.adresse{
    font-size: 30px;
    padding-top: 50px;
    padding-left: 50px;
}
.bloc-button{
    background-color: $blue-color;
    .cta-hero{
        color: white;
    }
}